* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    border: 0;
}
body {
	font-family: Roboto, sans-serif;
}
.hero, header, .copyright {
	background-color: #1F2937;
}
header {
    align-items: center;
    padding: 0 20%;
	display: flex;
	justify-content: space-between;
}
header h1 {
	font-size: 24px;
	color: #F9FAF8;
}
.hero, header {
	color: #E5E7EB;
}
.hero h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}
.call-to-action {
    margin: 33px 20%;
    align-items: center;
    border-radius: 10px;
    padding: 35px;
    gap: 15px;
	display: flex;
	justify-content: space-evenly;
    background-color: #3882F6;
}
button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px;
    margin: 12px 0;
}
.call-to-action button {
    border: 3px solid #FFF;
}
blockquote {
    margin: 53px 0;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;
	background-color: #E5E7EB;
	color: #1F2937;
	font-size: 36px;
	font-weight: 300;
    padding: 2% 20%;
}
.hero {
    padding: 2% 20%;
    gap: 251px;
    justify-content: space-between;
	display: flex;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
	gap: 50px;
}
.outer-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.box {
    width: 240px;
    height: 240px;
    margin: 0 20px 10px;
    border: 4px solid blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.box-container {
    gap: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container p {
    color: black;
}
button, .copyright, .call-to-action {
    color: white;
}
.copyright, h2 {
	display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    padding: 40px;
}
h2 {
	font-size: 36px;
    margin: 30px auto;
	color: #1F2937;
	font-weight: 900;
}
p {
    font-size: 18px;
}
