* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    border: none;
}
body {
	font-family: Roboto, sans-serif;
}
.hero, header, .copyright {
	background-color: #1F2937;
}
header {
    align-items: center;
    padding: 0 20%;
	display: flex;
	justify-content: space-between;
}
header h1 {
	font-size: 24px;
	color: #F9FAF8;
}
.hero, header {
	color: #E5E7EB;
}
.hero h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}
h2 {
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
}
.call-to-action {
    margin: 33px 20%;
    align-items: center;
    border-radius: 10px;
    padding: 35px;
	color: white;
	display: flex;
	justify-content: space-evenly;
    background-color: #3882F6;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin: 12px 0;
}
.call-to-action button {
    border: 3px solid #FFF;
}
blockquote {
    margin: 33px 0;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	background-color: #E5E7EB;
	color: #1F2937;
	font-size: 36px;
	font-weight: 300;
    padding: 5% 3%;
}
.hero {
    padding: 3% 20%;
    justify-content: space-between;
	display: flex;
    align-items: center;
    text-align: start;
}
.copyright, h2 {
	display: flex;
	justify-content: center;
    margin: 30px 0;
}
ul {
    display: flex;
    list-style: none;
	gap: 50px;
}
.box {
    width: 240px;
    height: 240px;
    margin: 0 20px 10px;
    border: 4px solid blue;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.box-container {
    gap: 22px;
    display: flex;
    justify-content: center;
}
.first {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-container p {
    color: black;
}
p {
    font-size: 18px;
}
h3, p, .copyright {
	color: white;
}
.copyright {
    margin: none;
    padding: 40px;
    align-items: center;
}
